<% content_for :title, "Normalize" %>

<div class="normalize">
  <h1>Heading 1</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud <a href="http://example.com/">exercitation</a> ullamco laboris
    nisi ut aliquip ex ea commodo consequat.
  </p>
  <h2>Heading 2</h2>
  <ul>
    <li>one</li>
    <li>
      two
      <ul>
        <li>two and one third</li>
        <li>two and two thirds</li>
        <li>two and three thirds</li>
      </ul>
    </li>
    <li>three</li>
  </ul>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <p>
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
    dolore eu <strong>fugiat</strong> nulla pariatur. Excepteur <b>sint</b>
    occaecat cupidatat non <i>proident</i>, sunt in culpa qui <em>officia</em>
    deserunt mollit anim id est laborum.
  </p>
  <ol>
    <li>one</li>
    <li>
      two
      <ol>
        <li>two and one third</li>
        <li>two and two thirds</li>
        <li>two and three thirds</li>
      </ol>
    </li>
    <li>three</li>
  </ol>
  <h4>Heading 5</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Jane</td>
        <td>CEO</td>
      </tr>
      <tr>
        <td>Bill</td>
        <td>CFO</td>
      </tr>
      <tr>
        <td>Kimba</td>
        <td>CTO</td>
      </tr>
      <tr>
        <td>Neville</td>
        <td>Worker</td>
      </tr>
    </tbody>
  </table>
</div>
