<% content_for :title, "Tab Set" %>

<div class="spacing">

  <div class="tab-set">
    <nav>
      <ul class="tab-set--tabs">
        <li><a href="#tab1">Tab #1</a></li>
        <li><a href="#tab2">Tab #2</a></li>
        <li><a href="#tab3">Tab #3</a></li>
      </ul>
    </nav>
    <div class="tab-set--panes">
      <div id="tab1">
        Tab #1
      </div>
      <div id="tab2">
        Tab #2
      </div>
      <div id="tab3">
        Tab #3
      </div>
    </div>
  </div>

</div>
