<% content_for :title, "Component: CSS Accordion" %>

<div class="rhythm">

  <section class="rhythm-tight">
    <h2>Vertical Accordion</h2>

    <div class="accordion accordion-vertical">
      
      <div>
        <input id="accordion--pane-1" name="accordion" type="radio" />
        <label for="accordion--pane-1">Pane 1</label>
        <div class="accordion--pane">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, aperiam, provident, quo, rem repellat ipsam cum magni autem odit animi voluptatibus et nostrum similique recusandae repellendus impedit id! Laborum, quisquam?</p>
        </div>
      </div>
      <div>
        <input id="accordion--pane-2" name="accordion" type="radio" />
        <label for="accordion--pane-2">Pane 2</label>
        <div class="accordion--pane">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quo, sunt dolore necessitatibus nemo omnis quaerat ut aliquam doloremque blanditiis ipsam voluptates modi impedit quasi culpa aperiam dolor voluptatibus iusto.</p>
        </div>
      </div>

    </div>
  </section>

</div>
